<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>imageName</key>
		<string>homeMenu_100</string>
		<key>tip</key>
		<string>测试标题</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>homeMenu_101</string>
		<key>tip</key>
		<string>测试标题</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>homeMenu_102</string>
		<key>tip</key>
		<string>测试标题</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>homeMenu_103</string>
		<key>tip</key>
		<string>测试标题</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>homeMenu_104</string>
		<key>tip</key>
		<string>测试标题</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>homeMenu_105</string>
		<key>tip</key>
		<string>测试标题</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>homeMenu_106</string>
		<key>tip</key>
		<string>测试标题</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>homeMenu_107</string>
		<key>tip</key>
		<string>测试标题</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>homeMenu_108</string>
		<key>tip</key>
		<string>测试标题</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>homeMenu_109</string>
		<key>tip</key>
		<string>测试标题</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>homeMenu_110</string>
		<key>tip</key>
		<string>测试标题</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>homeMenu_111</string>
		<key>tip</key>
		<string>测试标题</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>homeMenu_112</string>
		<key>tip</key>
		<string>测试标题</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>homeMenu_113</string>
		<key>tip</key>
		<string>测试标题</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>homeMenu_114</string>
		<key>tip</key>
		<string>测试标题</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>homeMenu_115</string>
		<key>tip</key>
		<string>测试标题</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>homeMenu_116</string>
		<key>tip</key>
		<string>测试标题</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>homeMenu_117</string>
		<key>tip</key>
		<string>测试标题</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>homeMenu_118</string>
		<key>tip</key>
		<string>测试标题</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>homeMenu_119</string>
		<key>tip</key>
		<string>测试标题</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>homeMenu_120</string>
		<key>tip</key>
		<string>测试标题</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>homeMenu_121</string>
		<key>tip</key>
		<string>测试标题</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>homeMenu_122</string>
		<key>tip</key>
		<string>测试标题</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>homeMenu_123</string>
		<key>tip</key>
		<string>测试标题</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>homeMenu_124</string>
		<key>tip</key>
		<string>测试标题</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>homeMenu_125</string>
		<key>tip</key>
		<string>测试标题</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>homeMenu_126</string>
		<key>tip</key>
		<string>测试标题</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>homeMenu_127</string>
		<key>tip</key>
		<string>测试标题</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>homeMenu_128</string>
		<key>tip</key>
		<string>测试标题</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>homeMenu_129</string>
		<key>tip</key>
		<string>测试标题</string>
	</dict>
</array>
</plist>
