<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cover</key>
		<string>Swift-cover</string>
		<key>pages</key>
		<array>
			<string>page-blank</string>
			<string>page-img</string>
			<string>page-img</string>
			<string>page-img</string>
			<string>page-img</string>
			<string>page-img</string>
			<string>page-img</string>
			<string>page-img</string>
		</array>
	</dict>
	<dict>
		<key>cover</key>
		<string>iOS8-cover</string>
		<key>pages</key>
		<array>
			<string>page-blank</string>
			<string>page-img</string>
			<string>page-img</string>
			<string>page-img</string>
			<string>page-img</string>
			<string>page-img</string>
			<string>page-img</string>
			<string>page-img</string>
		</array>
	</dict>
	<dict>
		<key>cover</key>
		<string>CoreData-cover</string>
		<key>pages</key>
		<array>
			<string>page-blank</string>
			<string>page-img</string>
			<string>page-img</string>
			<string>page-img</string>
		</array>
	</dict>
</array>
</plist>
